.header {
    grid-area: h;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #225465;
    border-bottom: 1px solid #ffffff;
}

.header img {
    height: 40px;
    margin-left: 5px;
}